body {
padding: 0;
margin: 0;
background: #ADD8E6;
font-family: comic sans-serif;
font-size: 13px;
}

.navbar {
text-align: center;
padding-top: 4%;
padding-bottom: 4%;
}

.box{
display: block;
text-align: center;
}

.container {
border-radius: 25px 25px 25px 0px ;
width: 370px ;
background-color: white;
padding-left: 45px;
padding-right: 45px;
display: inline-block;
text-align: left;
}

.head {
padding-top: 25px;
text-align: center;
color: rgb(0, 0, 255)
}

.para {
padding-bottom: 5px;
text-align: center; 
}

.con {
padding-top : 20px;
}

input[type=text], input[type=password], input[type=tel], input[type=email]
{
font-size: 15px;
padding: 20px;
margin: 8px 0; 
width: 100% ;
border: none;
background-color: rgba(0, 0, 255, 0.055) ;
border-radius: 4px;
box-sizing: border-box;
}

.drop {
padding-top: 20px;
}

#dropdown {
display: block;
background-color: rgba(0, 0, 255, 0.055) ;
border: none;
border-radius: 4px;
box-sizing: border-box;
margin: 8px 0; 
padding: 20px;
font-size: 15px;
width: 100%;
height: 100%;
}

.button {
background-color: #4c5baf;
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 15px 15px 15px 0px ;
width: 100%;
height: 100%;
font-size: 16px;
margin-top: 20px;
margin-bottom : 50px;
cursor: pointer;
}

footer {
padding-top: 10px;
padding-bottom: 0;
text-align: center;
}